.form__heading
    @media screen and ( max-width 480px )
        padding: 12% 0 4% 0;
        font-size: 50px;
        line-height: 60px;
    @media screen and ( max-width 425px )
        font-size: 38px;
        line-height: 1;
    @media screen and ( max-width 375px )
        padding: 4% 0;
        font-size: 32px;
    @media screen and ( max-width 345px ) 
        font-size: 28px;

.form__row_margin_bottom
    @media screen and ( max-width 425px )
        margin-bottom: 2%;

.form__col_margin_right
    @media screen and ( max-width 480px ) 
        margin-right: 2%;

.form__helper_margin_bottom 
    @media screen and ( max-width: 768px )
        margin-bottom: 1%;

.form__name
    @media screen and ( max-width 345px )
        font-size: 10px;
        line-height: 20px;

.form__col_container_floor
    @media screen and ( max-width 480px )
        display: none;

.form__col_container_flat
    @media screen and ( max-width 480px )
        margin: 0;

.form__name
    @media screen and ( max-width 345px )
        font-size: 10px;
        line-height: 20px;

.form__input_type_text
    @media screen and ( max-width 425px )
        padding: 6px 8px;
    @media screen and ( max-width 375px ) 
        font-size: 12px;
    @media screen and ( max-width 345px )
        padding: 6px 12px;

.form__col_type_other
    @media screen and ( max-width 480px )
        padding: 2% 0;
    @media screen and ( max-width 345px )
        padding: 1% 0;

.form__helper_wrap_input
    @media screen and ( max-width 480px )
        padding: 1.9% 0;
    @media screen and ( max-width 345px )
        padding: 1% 0;

.form__btn
    @media screen and ( max-width 480px )
        padding: 4% 0;
    @media screen and ( max-width 345px )
        padding: 2% 0;