.we__bg
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

.we__center
    display: flex;
    align-items: center;
    height: 100%;

.we__heading_align_center
    padding: 74px 0;
    text-align: center;
    color: primaryBlack;   

.we__row
    display: flex;
    justify-content: space-between; 

.we__col
    flex: 1;

.we__col_margin_right
    margin-right: 24px;

.we__cont
    text-align: center; 

.we__pic
    padding: 8px 0;

.we__heading
    padding: 18px 0;
    font: 24px / 28px lifehackmedium;
    color: primaryBlack;          

.we__natural
    .we__heading
        padding: 32px 0 7px 0;

.we__text
    font: 14px / 24px ubuntulight;
    color: primaryBlack;    