.team__col
    @media screen and ( max-width 480px )
        padding: 0;

.team__title
    @media screen and ( max-width 480px )
        font-size: 50px;
        padding: 12% 0;
    @media screen and ( max-width 375px )
        font-size: 38px;
        padding: 11.5% 0;
    @media screen and ( max-width 345px )
        padding: 9.5% 0;