.caro
    position: relative;
    width: 100%;

.caro__container
    overflow: hidden;

.caro__row
    display: flex;

.caro__col_grow_lg
    flex: 1 0 100%;

.caro__slide
    align-items: center;
    min-height: 650px;
    padding: 82px 0;
    border: 1px dashed red;

.caro__col_grow_md
    width: 50%;
    border: 1px dashed green;

.caro__burger
    margin-right: 20px;

.caro__pic
    width: 100%;

.caro__cont
    align-self: flex-start;

.caro__heading
    padding-bottom: 38px;
    font: 72px / 64px gagalinregular;
    color: primaryWhite;

.caro__text
    padding-bottom: 20px;
    color: primaryWhite;

.caro__footer
    align-items: flex-end;

.caro__price
    font: 30px / 28px gagalinregular;
    color: primaryOrange;

.caro__price_size_lg
    font-size: 72px;
    line-height: 1;

.caro__btn
    margin-left: 26px;

.caro__arrow
    position: absolute;
    top: 48.5%;
    z-index: 9999;

.caro__arrow_way_prev
    transform: rotate( 90deg );

.caro__arrow_way_next
    transform: rotate( -90deg );

 .caro__arrow_pos_left
    left: -4.5%;

.caro__arrow_pos_right
    right: -4.5%;   