.caro
    position: relative;
    width: 100%;

.caro__row
    display: flex;

.caro__container
    overflow: hidden;

.caro__wrap
    will-change: transform;

.caro__slide
    min-height: 650px;
    align-items: center;
    padding: 84px 0;

.caro__col_size_lg
    flex: 1 0 100%;

.caro__slide > .caro__col_size_md:not( :last-child )
    margin-right: 20px;

.caro__col_size_md
    width: 50%;

.caro__pic
    width: 100%;

.caro__cont
    align-self: flex-start;

.caro__title
    padding-bottom: 37px;
    font: 72px / 64px gagalinregular;
    color: primaryWhite;

.caro__text
    padding-bottom: 22px;
    font: 14px / 24px ubuntulight;
    color: primaryWhite;

.caro__footer
    align-items: flex-end;

.caro__footer > .caro__col:not( :last-child )
    margin-right: 26px;

.caro__price
    font: 30px / 28px gagalinregular;
    color: primaryOrange;

.caro__price_size_lg
    font: 72px / 70px gagalinregular;

.caro__arrow_pos_abs
    position: absolute;
    top: 49%;
    z-index: 9999;

.caro__arrow-prev
    left: -4.5%;
    transform: rotate( 90deg );

.caro__arrow-next
    right: -4.5%;
    transform: rotate( -90deg );

.caro__wrap.active
    transition: all .7s;