.form__bg
    position: relative;
    z-index: 1;
    height: 100%;
    background: url( 'image/contact/logos.png' ) no-repeat center / cover,
                url( 'image/contact/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png' ) no-repeat center /cover;

.form__row
    display: flex;

.form__row_align_center
    align-items: center;
    height: 100%;

.form__heading
    padding: 82px 0;
    font: 72px / 64px gagalinregular;
    color: primaryYellow;

.form__heading_align_center
    text-align: center;

.form__col
    flex: 1;

.form__cont_margin_right
    margin-right: 20px;

.form__row_margin_bottom
    margin-bottom: 14px;

.form__col_margin_right
    margin-right: 20px;

.form__name
    font: 14px / 24px ubuntulight;
    color: primaryWhite;

.form__input_type_text
    display: inline-block;
    width: 100%;
    padding: 9px 20px;
    border: none;
    border-radius: 5px;
    outline-color: primaryYellow;

.form__textarea
    @extend .form__input_type_text;

.form__helper_wrap_input
    margin-right: 20px;

.form__input_type_radio,
.form__input_type_checkbox
    display: none;  

.form__input_type_radio + label::before
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: -2px;
    border-radius: 50%;
    background: primaryWhite url( 'image/form/Ellipse.png' ) no-repeat -152px -260px / 43%;   

.form__input_type_radio:checked + label::before
    background-position: 5px 5px;

.form__input_type_checkbox + label::before
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: -2px;
    background: primaryWhite url( 'image/form/w128h1281338911632checkmark21.png' ) no-repeat -152px -260px / 65%;     
    
.form__input_type_checkbox:checked + label::before
    background-position: 3px 3px;

.form__btn
    width: 100%;
    padding: 6px 0; 