section.menu.section
    .menu__bg.lazy( data-src="image/menu/photo-1428660386617-8d277e7deaf2.png" )  
        h2.menu__heading_pos_abs.section__heading Меню
        .menu__row
            article.acco-h#acco-h
                h6( hidden )
                .acco-h__row
                    // Section-1
                    .acco-h__col
                        section.acco-h__section.js-acco-h__section
                            .acco-h__row                           
                                .acco-h__pannel.lazy.js-acco-h__trigger( data-src="image/menu/photo-1468071174046-657d9d351a40.png" ).acco-h__pannel_after_bg
                                    h3.acco-h__heading.js-acco-h__trigger Для мясоедов
                                .js-acco-h__container.js-acco-h__container_visibility_false 
                                    .acco-h__cont
                                        p.acco-h__text
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                                            |заимствование редуцирует конструктивный механизм сочленений. Лирический субъект 
                                            |начинает диссонансный анжамбеман.
                                            |Наш современник стал особенно чутко относиться к слову, 
                                            |однако механизм сочленений неустойчив. Модальность высказывания, 
                                            |как справедливо считает И.Гальперин, пространственно выбирает метр.
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование 
                                            |редуцирует конструктивный 
                                            |механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. 
                                            |Наш современник стал особенно чутко относиться к слову. 
                    // Section-1 end
                    // Section-2 
                    .acco-h__col    
                        section.acco-h__section.js-acco-h__section
                            .acco-h__row
                                .acco-h__pannel.lazy.js-acco-h__trigger( data-src="image/menu/photo-1466814314367-45323ac74e2b.png" ).acco-h__pannel_after_bg
                                    h3.acco-h__heading.js-acco-h__trigger Вегетарианское 
                                .js-acco-h__container.js-acco-h__container_visibility_false 
                                    .acco-h__cont
                                        p.acco-h__text
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                                            |заимствование редуцирует конструктивный механизм сочленений. Лирический субъект 
                                            |начинает диссонансный анжамбеман.
                                            |Наш современник стал особенно чутко относиться к слову, 
                                            |однако механизм сочленений неустойчив. Модальность высказывания, 
                                            |как справедливо считает И.Гальперин, пространственно выбирает метр.
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование 
                                            |редуцирует конструктивный 
                                            |механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. 
                                            |Наш современник стал особенно чутко относиться к слову.          
                    // Section-2 end
                    // Section-3 
                    .acco-h__col    
                        section.acco-h__section.js-acco-h__section
                            .acco-h__row
                                .acco-h__pannel.lazy.js-acco-h__trigger( data-src="image/menu/IMG_4084.png" ).acco-h__pannel_after_bg
                                    h3.acco-h__heading.js-acco-h__trigger Диетическое
                                .js-acco-h__container.js-acco-h__container_visibility_false 
                                    .acco-h__cont
                                        p.acco-h__text
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                                            |заимствование редуцирует конструктивный механизм сочленений. Лирический субъект 
                                            |начинает диссонансный анжамбеман.
                                            |Наш современник стал особенно чутко относиться к слову, 
                                            |однако механизм сочленений неустойчив. Модальность высказывания, 
                                            |как справедливо считает И.Гальперин, пространственно выбирает метр.
                                            |Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование 
                                            |редуцирует конструктивный 
                                            |механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. 
                                            |Наш современник стал особенно чутко относиться к слову.                        
                    // Section-3 end                                
                                
