.caro__slide
    @media screen and ( max-width 768px )
        flex-direction: column;
        min-height: auto;
        padding: 13% 0 0 0;
        text-align: center;

.caro__col_grow_md
    @media screen and ( max-width 768px )
        width: 78%;
        margin: 0 0 3% 0;

.caro__pic
    @media screen and ( max-width 768px )
        width: 90%;

.caro__cont
    @media screen and ( max-width 768px )
        align-self: center;     

.caro__heading
    @media screen and ( max-width 768px )
        padding-bottom: 3%;

.caro__text
    @media screen and ( max-width 768px )
        padding-bottom: 5%;

.caro__footer
    @media screen and ( max-width 768px )
        justify-content: center;

.caro__btn
    @media screen and ( max-width 768px )
        margin-left: 27px;

.caro__arrow_pos_left
    @media screen and ( max-width 768px )
        left: 2.5%;

.caro__arrow_pos_right
    @media screen and ( max-width 768px )
        right: 2.5%;