.caro__slide
    @media screen and ( max-width 768px )
        flex-direction: column;
        text-align: center;

.caro__burger
    @media screen and ( max-width 768px )
        margin: 0;

.caro__col_size_md
    @media screen and ( max-width 768px )
        width: 78%;

.caro__burger
    @media screen and ( max-width 768px )
        padding: 17% 0 3% 0

.caro__pic
    @media screen and ( max-width 768px )
        width: 90%;

.caro__cont
    @media screen and ( max-width 768px )
        align-self: center;

.caro__title
    @media screen and ( max-width 768px )
        padding-bottom: 16px;

.caro__text
    @media screen and ( max-width 768px )
        padding-bottom: 34px;

.caro__footer
    @media screen and (  max-width 768px )
        justify-content: center;

.caro__footer > .caro__col:not( :last-child )
    @media screen and ( max-width 768px )
        margin-right: 30px;

/* **************** */

// Kkal

.caro__kkal.caro__kkal_pos_abs
    @media screen and ( max-width 768px )
        top: 13%;
        right: 17%;
        bottom: auto;
        left: auto;

/* **************** */

/* **************** */

// Composition

/* **************** */

.caro__comp_pos_abs
    @media screen and ( max-width 768px )
        top: 13%;
        left: 17.8%;

.caro__comp-container
    @media screen and ( max-width 768px )
        width: 370px;

.caro__comp-trigger
    @media screen and ( max-width 768px )
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        
.caro__comp-list
    @media screen and ( max-width 768px )
        width: auto;

.caro__comp-close
    @media screen and ( max-width 768px )
        display: block;

.caro__comp:hover        
    .caro__comp-container
        @media screen and ( max-width 768px )    
            display: none;

.caro__comp:hover
    &:active
        background: primaryOrange;
    .caro__comp-container.active
        @media screen and ( max-width 768px )
            display: flex;

.caro__arrow_pos_abs
    @media screen and ( max-width 768px )
        top: 47.7%;

.caro__arrow-prev
    @media screen and ( max-width 768px )
        left: 2.5%;

.caro__arrow-next
    @media screen and ( max-width 768px )
        right: 2.5%;