section.contact.section
    .contact__inner
        .contact__map#map
        .contact__row_pos_bottom
            footer.footer
                .footer__bg
                    .container
                        .footer__row
                            .footer__elem.footer__contact
                                .footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                                .footer__phone  
                                    .footer__pic-phone.footer__pic
                                        object(data="svg/phone.svg", type="image/svg+xml").footer__pic-phone_type_svg
                                    | +7 (812) 377-13-77    
                            .footer__elem.footer__social
                                ul.footer__list.footer__social-list
                                    li.footer__item.footer__social-item
                                        a.footer__link.footer__social-link.footer__link_effect__hover(href="#")
                                            object(data="svg/vk.svg", type="image/svg+xml", width="24px", height="14px")
                                    li.footer__item.footer__social-item
                                        a.footer__link.footer__social-link.footer__link_effect__hover(href="#")
                                            object(data="svg/fb.svg", type="image/svg+xml", width="22px", height="21px")
                                    li.footer__item.footer__social-item
                                        a.footer__link.footer__social-link.footer__link_effect__hover(href="#")
                                            object(data="svg/inst.svg", type="image/svg+xml", width="21px", height="21px")
                                    li.footer__item.footer__social-item    
                                        a.footer__link.footer__social-link.footer__link_effect__hover(href="#")
                                            object(data="svg/twitter.svg", type="image/svg+xml", width="19px", height="17px")