.footer__bg
    position: relative;
    z-index: 1;
    height: 100%;
    background: url( 'image/contact/logos.png' ) no-repeat bottom / cover,
                url( 'image/contact/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png' ) no-repeat bottom / cover;  

.footer__row
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;

.footer__col
    width: 50%;

.footer__address
    font: 14px / 24px ubuntulight;
    color: primaryWhite;

.footer__phone
    font: 14px / 28px ubuntubold;
    color: primaryOrange;

.footer__pic-phone.footer__pic
    display: inline-block;
    margin-right: 5px;    
    vertical-align: top; 

.footer__social-list
    display: flex;
    align-items: center;
    justify-content: flex-end;

.footer__social-item
    margin-left: 19px;

.footer__social-link
    display: inline-block;
    opacity: .7;

.footer__link_effect__hover:hover
    opacity: 1;    