.nav__list
    @media screen and ( max-width 768px )
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: primaryBlack;

.js-nav__list_is_active
    @media screen and ( max-width 768px )
        display: flex;   

.js-nav__list_is_no-active 
    @media screen and ( max-width 768px )
        display: none;                

.nav__item_after_spot::after
    @media screen and ( max-width 768px )
        display: block;
        margin: 0 auto;

.nav__link
    @media screen and ( max-width 768px )
        margin: 15px 0;          