#menu
    display: none;
    margin: 0 12px;
    .menu__comp
        display: block;
        width: 24px;
        height: 4px;
        margin: 5px 0;
        background-color: primaryWhite;
        border-radius: 5px;