.review__trigger:hover > .review__hover
    @media screen and ( max-width 480px )
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

.review__title
    @media screen and ( max-width 480px )
        margin: 13% 0;
        font-size: 23px;
        line-height: 28px;
    @media screen and ( max-width 375px )
        margin: 8.5% 0;
        font-size: 18px;
        line-height: 23px;

.review__helper
    @media screen and ( max-width 480px )
        display: none;

.review__btn > .btn__more
    @media screen and ( max-width 480px )
        display: none;

.review__btn > .btn__read
    @media screen and ( max-width 480px )
        display: inline-block; 
    @media screen and ( max-width 375px )
        font-size: 12px; 

.review__popup-cont
    @media screen and ( max-width 480px )
        width: 95%;

.review__popup-text
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;        