.team__bg
    height: 100%;
    background: url( 'image/team/SBS_1255-X2.png' ) no-repeat top / cover;

.team__row
    display: flex;
    justify-content: flex-end;
    height: 100%;

.team__col
    width: 540px;
    height: 100%;
    padding: 0 79px;
    background-color: rgba( primaryBlack,.9 );

.team__col_align_center
    display: flex;
    align-items: center;

.team__heading
    padding: 81px 0 69px 0;
    line-height: 1;
    color: primaryYellow;   