.team__bg
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

.team__row
    display: flex;
    justify-content: flex-end;
    height: 100%;

.team__col
    width: 540px;
    height: 100%;
    padding: 0 79px;
    background-color: rgba( primaryBlack,.9 );

.team__col_prop_center
    display: flex;
    align-items: center;

.team__title
    padding: 81px 0 69px 0;
    line-height: 1;
    color: primaryYellow;   