.team__bg
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

.team__row
    display: flex;
    justify-content: flex-end;
    height: 100%;

.team__col
    width: 49%;
    height: 100%;
    padding: 0 79px;
    background-color: rgba( primaryBlack,.9 );

.team__title
    line-height: 1;
    color: primaryYellow;   