.form__title
    @media screen and ( max-width 768px ) 
        padding: 16% 0 10% 0;

.form__field
    @media screen and ( max-width 768px )
        max-width: 472px;
        margin: 0 auto;

.form__row
    @media screen and ( max-width 768px )
        flex-wrap: wrap;

.form__cont
    @media screen and ( max-width 768px )
        flex: 1 0 100%;

.form__cont_wrap_cont
    @media screen and ( max-width 768px )
        margin: 0;

.form__row_wrap_row
    @media screen and ( max-width 768px )
        margin-bottom: 12px;

.form__col_wrap_col
    @media screen and ( max-width 768px ) 
        margin-right: 24px;

.form__helper_wrap_name
    @media screen and ( max-width 768px ) 
        margin-bottom: 4px;       

.form__input_type_text
    @media screen and ( max-width 768px )
        padding: 9px 12px;

.form__helper_wrap_input
    @media screen and ( max-width 768px )
        padding: 2px 0;

.form__btn
    @media screen and ( max-width 768px )
        padding: 6.7% 0;         