doctype html
html( lang="ru-Ru" )
  head
    meta( charset="UTF-8" )
    meta( http-equiv="X-UA-Compatible", content="IE=edge")
    meta( name="viewport", content="width=device-width, initial-scale=1" )
    title LoftSchool
    meta( name="description", content="loftSchool" )
    link( href="../bower_components/normalize-css/normalize.css" rel="stylesheet" )
    link( rel="stylesheet", href = "../bower_components/fullpage.js/dist/jquery.fullPage.min.css" )
    link( href="main.css", rel="stylesheet" )
  body.page
    // full page
    #fullpage
      // Hero
      include ../common.blocks/hero/hero.pug
      // Hero end
      // We 
      include ../common.blocks/we/we.pug
      // We end
      // Burger
      include ../common.blocks/burger/burger.pug
      // Burger end
      // Team 
      include ../common.blocks/team/team.pug
      // Team end
      // Menu 
      include ../common.blocks/menu/menu.pug
      // Menu end
      // Review 
      include ../common.blocks/review/review.pug
      // Review end
      // Form 
      include ../common.blocks/form/form.pug
      // Form end
      include ../common.blocks/contact/contact.pug
    //- script( src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" )
    script( src="../bower_components/jquery/dist/jquery.min.js" )
    script( src="../bower_components/fullpage.js/dist/jquery.fullpage.min.js" )
    script( src="main.min.js" )