.we__heading_align_center
    @media screen and ( max-width 480px )
        padding: 11.5% 0;
        font-size: 50px;
        line-height: 1;
    @media screen and ( max-width 375px )
        font-size: 38px;
    @media screen and ( max-width 345px )
        padding: 9.5% 0;

.we__row
    @media screen and ( max-width 480px )
        flex-direction: column;   
        padding: 4% 0;     
    @media screen and ( max-width 345px )
        padding: 0;

.we__cont
    @media screen and ( max-width 480px )
        display: flex;
        width: 100%;        
        margin-bottom: 9%;
    @media screen and ( max-width 345px )
        margin-bottom: 3%;

.we__hand
    @media screen and ( max-width 480px )
        margin-bottom: 3%;

.we__cont
    @media screen and ( max-width 420px )
        margin-bottom: 7%;

.we__pic
    @media screen and ( max-width 480px )
        flex: 0 1 28%;
    @media screen and ( max-width 420px )
        flex: 0 1 20%;
    @media screen and ( max-width 345px )
        flex: 0 1 18%;

.we__pic_type_svg
    @media screen and ( max-width 420px )
        width: 50%;

.we__helper
    @media screen and ( max-width 480px )
        flex: 2;
        padding-left: 2%;
        text-align: left;

.we__heading
    @media screen and ( max-width 480px )
        padding: 0 0 4.5% 0;
        line-height: 34px;
    @media screen and ( max-width 420px )
        padding: 0px 0 1.5% 0;    
    @media screen and ( max-width 375px )
        line-height: 32px;
        font-size: 20px;
    @media screen and ( max-width 345px )
        line-height: 28px;
        font-size: 18px;

.we__natural
    .we__heading
        @media screen and ( max-width 480px )
            padding: 6% 0 4% 0;
        @media screen and ( max-width 420px )                       
            padding: 0 0 1% 0; 

.we__text
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;   
