.btn__read
    display: inline-block;
    padding: 3px 13px 3px 13px;
    font: 13px / 30px ubuntumedium, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    color: primaryWhite;
    background-color: primaryBlack;
    border-radius: 5px;

.btn__read_effect_hover:hover
    background-color: primaryBlackHover;