.footer__row
    @media screen and ( max-width 480px )
        flex-direction: column;
        padding: 12px 0;

.footer__col
    @media screen and ( max-width 480px )
        width: 100%;
        margin-bottom: 7px;
        text-align: center;

.footer__address
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px; 

.footer__phone
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;          

.footer__social-list
    @media screen and ( max-width 480px )
        justify-content: center;

.footer__social-item
    @media screen and ( max-width 480px )
        margin: 0 12px;                