.review__elem
    @media screen and ( max-width 1024px )
        flex: 1 0 50%;

.review__hover
    @media screen and ( max-width 768px )
        padding: 7% 12%;
        text-align: center;

.review__heading
    @media screen and ( max-width 768px )
            margin-bottom: 1.5%;

.review__helper
    @media screen and ( max-width 768px )
            margin-bottom: 7%;