.menu
    position: relative;
    z-index: 1;

.menu__bg
    height: 100%;
    background: url( 'image/menu/photo-1428660386617-8d277e7deaf2.png' ) no-repeat center / cover;

.menu__heading_pos_abs
    position: absolute;
    z-index: 0;
    top: 16.3%;
    left: 8.7%;
    color: primaryWhite;

.menu__row
    display: flex;
    justify-content: flex-end;
    height: 100%; 
  
         