section.hero.section 
    .hero__bg
        .container
            .hero__rows

                // header > nav
                .hero__row
                    header.header
                        .header__row
                            // logo
                            .header__col.header__col_grow_md
                                .logo
                                    object(data="svg/logo.svg", type="image/svg+xml").logo__logo
                            // logo-end
                            
                            // nav
                            .header__col
                                nav.nav
                                    .js-nav__container#nav
                                        ul.nav__list.nav__list_pos_relative
                                            li.nav__item.nav__item_after_spot
                                                a.nav__link(href="#we").nav__link__effect_hover.js-close-menu О нас
                                            li.nav__item.nav__item_after_spot
                                                a.nav__link(href="#").nav__link__effect_hover.js-close-menu Бургеры
                                            li.nav__item.nav__item_after_spot
                                                a.nav__link(href="#team").nav__link__effect_hover.js-close-menu Команда
                                            li.nav__item.nav__item_after_spot
                                                a.nav__link(href="#menu").nav__link__effect_hover.js-close-menu Меню
                                            li.nav__item.nav__item_after_spot
                                                a.nav__link(href="#review").nav__link__effect_hover.js-close-menu Отзывы
                                            li.nav__item
                                                a.nav__link(href="#contact").nav__link__effect_hover.js-close-menu Контакты
                                            li.nav__item.close.js-close-menu
                                                img(src="image/hero/close.png", alt="close")
                            // nav end

                            // btn order
                            .header__col
                                .btn
                                    a.btn__order(href="#").hero__btn.btn__order_effect_hover Заказать
                            //btn order end
                            
                            // icon menu
                            .header__col
                                #hamm( data-menu="#nav" )
                                    span.hamm__comp
                                    span.hamm__comp
                                    span.hamm__comp
                            // icon menu end

                // header-end               

                // hero main
                .hero__row
                    .hero__main
                        .hero__burger
                            img(src="image/hero/steam.png", alt="burger-pic").hero__pic
                        .hero__text
                            h2.hero__heading_align_left.section__heading Мы делаем
                            span.hero__subheading натуральные бургеры         
                // hero main end

                // hero-arrrow-scroll
                .hero__row.hero__row_align_center
                    a.hero__arrow-scroll( href="#we" )
                        object(data="svg/arrow-scroll.svg", type="image/svg+xml").hero__arrow
                // hero-arrow-scroll-end