section.hero.section
    .hero__bg
        .container
            .hero__rows

                // header > nav
                .hero__row
                    header.header
                        .header__inner
                            // logo
                            .header__elem.header__elem_grow_2
                                .logo
                                    object(data="svg/logo.svg", type="image/svg+xml").logo__logo
                            // logo-end
                            
                            // nav
                            .header__elem
                                nav.nav
                                    ul.nav__list
                                        li.nav__item.nav__item_after_spot
                                            a.nav__link(href="#").nav__link__effect_hover О нас
                                        li.nav__item.nav__item_after_spot
                                            a.nav__link(href="#").nav__link__effect_hover Бургеры
                                        li.nav__item.nav__item_after_spot
                                            a.nav__link(href="#").nav__link__effect_hover Команда
                                        li.nav__item.nav__item_after_spot
                                            a.nav__link(href="#").nav__link__effect_hover Меню
                                        li.nav__item.nav__item_after_spot
                                            a.nav__link(href="#").nav__link__effect_hover Отзывы
                                        li.nav__item
                                            a.nav__link(href="#").nav__link__effect_hover Контакты
                            // nav end

                            // btn order
                            .header__elem
                                .btn
                                    a.btn__order(href="#").hero__btn.btn__order_effect_hover Заказать
                            //btn order end
                            
                            // icon menu
                            .header__elem
                                img(src="image/hero/close.png", alt="close").i-close.i-close_visible_false
                                .i-menu
                                    span.i-menu__comp
                                    span.i-menu__comp
                                    span.i-menu__comp
                            // icon menu end

                // header-end               

                // hero main
                .hero__row
                    .hero__main
                        .hero__burger
                            img(src="image/hero/steam.png", alt="burger-pic").hero__pic
                        .hero__text
                            h2.hero__title Мы делаем
                            span.hero__subtitle натуральные бургеры         
                // hero main end

                // hero-arrrow-scroll
                .hero__row
                    .hero__arrow-scroll
                        object(data="svg/arrow-scroll.svg", type="image/svg+xml").hero__arrow
                // hero-arrow-scroll-end