@import 'fonts/fonts.styl'
@import 'variables/variables.styl'
@import 'layout/layout.styl';

// Common.blocks
// full-page
@import 'components/fullPage/fullPage.styl';
// section
@import 'components/section/section.styl';
// __heading
@import 'components/section/__heading/section__heading.styl'; 
// container
@import 'components/container/container.styl';
// wrap-cont
@import 'components/wrap-cont/wrap-cont.styl';
@import 'components/wrap-cont/touch-pad/touch-pad.styl';   
// header
@import 'components/header/header.styl';    
// logo
@import 'components/logo/touch-phone/touch-phone.styl'
//nav
@import 'components/nav/nav.styl';
@import 'components/nav/touch-pad/touch-pad.styl';
@import 'components/nav/touch-phone/touch-phone.styl';    
// btn
@import 'components/btn/__order/btn__order.styl';
@import 'components/btn/__more/btn__more.styl';
@import 'components/btn/__read/btn__read.styl';
@import 'components/btn/__clear/btn__clear.styl';
// i-menu
@import 'components/i-menu/i-menu.styl';
@import 'components/i-menu/touch-pad/touch-pad.styl';
@import 'components/i-menu/touch-phone/touch-phone.styl';
// i-close
@import 'components/i-close/i-close.styl';
// carousel
@import 'components/carousel/carousel.styl';
@import 'components/carousel/touch-pad/touch-pad.styl';
@import 'components/carousel/touch-phone/touch-phone.styl';    
// acco
@import 'components/acco/acco.styl';   
@import 'components/acco/touch-pad/touch-pad.styl';
@import 'components/acco/touch-phone/touch-phone.styl'; 
// acco-h    
@import 'components/acco-h/acco-h.styl';
@import 'components/acco-h/touch-pad/touch-pad.styl';
@import 'components/acco-h/touch-phone/touch-phone.styl';          
// footer
@import 'components/footer/footer.styl';
@import 'components/footer/touch-pad/touch-pad.styl';
@import 'components/footer/touch-phone/touch-phone.styl';

// Hero
@import 'misc/hero/hero.styl';
@import 'misc/hero/touch-pad/touch-pad.styl';
@import 'misc/hero/touch-phone/touch-phone.styl';

// We
@import 'misc/we/we.styl'; 
@import 'misc/we/touch-pad/touch-pad.styl';  
@import 'misc/we/touch-phone/touch-phone.styl'; 

// Burgers
@import 'misc/burgers/burgers.styl';

// Team
@import 'misc/team/team.styl';
@import 'misc/team/touch-pad/touch-pad.styl';
@import 'misc/team/touch-phone/touch-phone.styl';

// Menu
@import 'misc/menu/menu.styl';
@import 'misc/menu/touch-pad/touch-pad.styl';
@import 'misc/menu/touch-phone/touch-phone.styl';

// Review
@import 'misc/review/review.styl';
@import 'misc/review/touch-pad/touch-pad.styl';
@import 'misc/review/touch-phone/touch-phone.styl';

// Form
@import 'misc/form/form.styl';
@import 'misc/form/touch-pad/touch-pad.styl';
@import 'misc/form/touch-phone/touch-phone.styl';

// Contact
@import 'misc/contact/contact.styl';