.acco__row
    margin-bottom: 21px;

.acco__header
    display: flex;
    align-items: center;

.acco__cont
    padding: 10px 16px;
    transition: all .5s;

.acco__name
    padding-left: 10px;
    font: 14px / 28px gagalinregular;
    color: primaryWhite;

.acco__circle
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

.acco__pic
    width: 100%;
    transform: scale(1.4) translateY(13%);

.acco__helper
    padding-left: 22px;

.acco__post
    margin-bottom: 14px;
    font: 14px / 18px ubuntubold;
    color: primaryWhite;

.acco__text
    font: 14px / 24px ubuntulight;
    color: primaryWhite;

.js-acco__container_visibility_false
    display: none;

.js-acco__container_visibility_true
    display: flex;    

.js-acco__arrow_is_no-active
    transform: rotate( 0 );

.js-acco__arrow_is_active
    transform: rotate( -180deg );    