.hero__btn
    @media screen and ( max-width 768px )
        margin: 0 18px;

.hero__main
    @media screen and ( max-width 768px )
        flex-direction: column;

.hero__burger
    @media screen and ( max-width 768px )
        width: 65%;
        margin-bottom: 3%;
        background-position: 50% 38%;

.hero__pic
    @media screen and ( max-width 768px )
        top: 4px;
        left: 48px;

.hero__text
    @media screen and ( max-width 768px )
        width: 60%;
        padding: 0;
        margin-bottom: 8%;
        text-align: center;

.hero__heading_align_left
    @media screen and ( max-width 768px )
        margin-bottom: 18px;        