section.form.section
    .form__bg.form__bg_after_bg.lazy( data-src="image/contact/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png" )
        .container
            .form__row.form__row_align_center
                .wrap-cont
                    h2.form__heading.form__heading_align_center.section__heading Закажите доставку
                    form.form__field#form
                        .form__row
                            // col-main-1
                            .form__col.form__cont.form__cont_margin_right
                                
                                // row-1 
                                .form__row.form__row_margin_bottom
                                    // col-1
                                    .form__col.form__col_margin_right
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="name") Имя
                                        .form__helper
                                            input.form__input.form__input_type_text#name(type="text", name="name")
                                    // col-1 end
                                    // col-2
                                    .form__col
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="phone") Телефон
                                        .form__helper
                                            input.form__input.form__input_type_text#phone(type="text", name="phone")
                                    // col-2 end
                                // row-1 end

                                // row-2 
                                .form__row.form__row_margin_bottom
                                    // col-1
                                    .form__col
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="street") Улица
                                        .form__helper
                                            input.form__input.form__input_type_text#street(type="text", name="street")
                                    // col-1 end
                                // row-2 end

                                // row-3 
                                .form__row.form__row_margin_bottom
                                    // col-1
                                    .form__col.form__col_margin_right.form__col_container_house
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="house") Дом
                                        .form__helper
                                            input.form__input.form__input_type_text#house(type="text", name="house")
                                    // col-1 end
                                    // col-2
                                    .form__col.form__col_margin_right.form__col_container_build
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="build") Корпус
                                        .form__helper
                                            input.form__input.form__input_type_text#build(type="text", name="build")
                                    // col-2 end
                                    // col-3
                                    .form__col.form__col_margin_right.form__col_container_flat
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="flat") Квартира
                                        .form__helper
                                            input.form__input.form__input_type_text#flat(type="text", name="flat")
                                    // col-3 end
                                    // col-4
                                    .form__col.form__col_container_floor
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="name") Этаж
                                        .form__helper
                                            input.form__input.form__input_type_text#floor(type="text", name="floor")
                                    // col-4 end
                                // row-3 end

                            // col-main-1 end
                            // col-main-2
                            .form__col.form__cont
                                
                                // row-1 
                                .form__row.form__row_margin_bottom
                                    // col-1
                                    .form__col
                                        .form__helper.form__helper_margin_bottom
                                            label.form__name(for="comment") Комментарий
                                        .form__helper
                                            textarea.form__textarea#comment(name="comment", rows="5")
                                    // col-1 end
                                // row-1 end

                                // row-2
                                .form__col.form__col_type_other
                                    
                                    .form__row.form__row_margin_bottom
                                        // radio-button
                                        .form__helper.form__helper_wrap_input
                                            input.form__input.form__input_type_radio#money(type="radio", name="radio")
                                            label.form__name(for="money") Потребуется сдача
                                        // radio-button end
                                        // checkbox-button
                                        .form__helper.form__helper_wrap_input
                                            input.form__input.form__input_type_radio#card(type="radio", name="radio")
                                            label.form__name(for="card") Оплата по карте
                                        // checkbox-button end
                                    
                                    .form__row
                                        .form__helper.form__helper_wrap_input
                                            input.form__input.form__input_type_checkbox#noCall(type="checkbox", name="noCall")
                                            label.form__name(for="noCall") Не перезванивать

                                // row-2 end

                            // col-main-2 end
                        .form__row
                            .form__col.form__cont.form__cont_wrap_cont.form__empty
                            .form__col
                                .form__row
                                    .form__btn.btn
                                        a.form__order.btn__order(href="#") Заказать
                                        a.form__clear.btn__clear(href="#") Очистить






                            