section.team.section
    .team__bg
        .team__row
            .team__col.team__col_align_center
                .wrap-cont
                    h2.team__heading.section__heading Команда
                    article.acco#acco

                        // Acco section 1 
                        .acco__row
                            section.acco__section.js-acco__section.js-acco__section_is_false
                                .acco__header
                                    // Polygon
                                    div.acco__elem
                                        img.acco__polygon-pic.js-acco__arrow.js-acco__arrow-rotate(src="image/team/Polygon.png", alt="polygon")
                                    // Polygon end
                                    // Acco name 
                                    div.acco__elem
                                        h4.acco__name.js-acco__trigger Дэниэл Рэдклиф
                                    // Acco name end
                                .js-acco__container.js-acco__container_is_false    
                                    .acco__cont
                                        .acco__image
                                            .acco__circle
                                                img(src="image/team/aphex.png", alt="acco pic").acco__pic
                                        .acco__helper
                                            .acco__post Оператор
                                            p.acco__text
                                                | С радостью поможет подобрать 
                                                | идеальный бургер и оформить заказ.
                        // Acco section 1 end

                        // Acco section 2
                        .acco__row
                            section.acco__section.js-acco__section.js-acco__section_is_false
                                .acco__header
                                    // Polygon
                                    div.acco__elem    
                                        img.acco__polygon.js-acco__arrow.js-acco__arrow-rotate(src="image/team/Polygon.png", alt="polygon")
                                    // Polygon end
                                    // Acco name
                                    div.acco__elem
                                        h4.acco__name.js-acco__trigger Ричард Джеймс
                                    // Acco name end
                                .js-acco__container.js-acco__container_is_false    
                                    .acco__cont
                                        .acco__image
                                            .acco__circle
                                                img(src="image/team/aphex.png", alt="acco pic").acco__pic
                                        .acco__helper
                                            .acco__post Оператор
                                            p.acco__text
                                                | С радостью поможет подобрать 
                                                | идеальный бургер и оформить заказ. 
                        // Acco section 2 end

                        // Acco section 3                 
                        .acco__row                
                            section.acco__section.js-acco__section.js-acco__section_is_false
                                .acco__header
                                    // Polygon
                                    div.acco__elem
                                        img.acco__polygon.js-acco__arrow.js-acco__arrow-rotate(src="image/team/Polygon.png", alt="polygon")   
                                    // Polygon end
                                    // Acco name end
                                    div.acco__elem
                                        h4.acco__name.js-acco__trigger Джейк Финн
                                    // Acco name end
                                .js-acco__container.js-acco__container_is_false    
                                    .acco__cont
                                        .acco__image
                                            .acco__circle
                                                img(src="image/team/aphex.png", alt="acco pic").acco__pic
                                        .acco__helper
                                            .acco__post Оператор
                                            p.acco__text
                                                | С радостью поможет подобрать 
                                                | идеальный бургер и оформить заказ.
                        // Acco section 3 end

                        // Acco section 4 
                        .acco__row                
                            section.acco__section.js-acco__section.js-acco__section_is_false
                                .acco__header
                                    // Polygon 
                                    div.acco__elem
                                        img.acco__polygon.js-acco__arrow.js-acco__arrow-rotate(src="image/team/Polygon.png", alt="polygon") 
                                    // Polygon end
                                    // Acco name
                                    div.acco__elem
                                        h4.acco__name.js-acco__trigger Николай Иванов
                                    // Acco name end
                                .js-acco__container.js-acco__container_is_false    
                                    .acco__cont
                                        .acco__image
                                            .acco__circle
                                                img(src="image/team/aphex.png", alt="acco pic").acco__pic
                                        .acco__helper
                                            .acco__post Оператор
                                            p.acco__text
                                                | С радостью поможет подобрать 
                                                | идеальный бургер и оформить заказ.
                        // Acco section 4 end                                         



                
