section.team.section
    .team__bg.lazy( data-src="image/team/SBS_1255-X2.png" )
        .team__row
            .team__col
                h2.team__title.section__title Команда
                article.acco
                    section.acco__section
                        h4.acco__name Дэниэл Рэдклиф
                        .acco__row.acco__cont
                            .acco__image
                                .acco__circle
                                    img(src="image/team/.png", alt="acco pic").acco__pic
                            .acco__helper
                                .acco__post Оператор
                                p.acco__text
                                | С радостью поможет подобрать 
                                | идеальный бургер и оформить заказ. 
                    section.acco__section
                        h4.acco__name Ричард Джеймс
                        .acco__row.acco__cont
                            .acco__image
                                .acco__circle
                                    img(src="image/team/.png", alt="acco pic").acco__pic
                            .acco__helper
                                .acco__post Оператор
                                p.acco__text
                                | С радостью поможет подобрать 
                                | идеальный бургер и оформить заказ. 
                    section.acco__section
                        h4.acco__name Джейк Финн
                        .acco__row.acco__cont
                            .acco__image
                                .acco__circle
                                    img(src="image/team/.png", alt="acco pic").acco__pic
                            .acco__helper
                                .acco__post Оператор
                                p.acco__text
                                | С радостью поможет подобрать 
                                | идеальный бургер и оформить заказ. 
                    section.acco__section
                        h4.acco__name Николай Иванов
                        .acco__row.acco__cont
                            .acco__image
                                .acco__circle
                                    img(src="image/team/.png", alt="acco pic").acco__pic
                            .acco__helper
                                .acco__post Оператор
                                p.acco__text
                                | С радостью поможет подобрать 
                                | идеальный бургер и оформить заказ.                                         



            
