section.we.section
    .we__bg
        .container
            .wrap-cont
                h2.we__title.section__title Мы лучшие
                .we__columns
                    .we__column
                        article.we__cont.we__meat
                    .we__column
                        article.we__cont.we__hand
                    .we__column
                        article.we__cont.we__natural

