section.we.section  
    .we__bg
        .container
            .we__row.we__row_align_center
                .wrap-cont
                    h2.we__heading_align_center.section__heading Мы лучшие
                    .we__row.we__main

                        // Meat
                        .we__col
                            article.we__cont.we__meat
                                .we__pic
                                    object(data="svg/meat.svg", type="image/svg+xml").we__pic_type_svg
                                .we__helper    
                                    h4.we__heading 100% свежее мясо
                                    p.we__text
                                        | Драма представляет собой деструктивный цикл. 
                                        | Анапест представляет собой анапест. Ямб неравномерен.
                        // Meat end
                        
                        // Hand 
                        .we__col
                            article.we__cont.we__hand
                                .we__pic
                                    object(data="svg/hand.svg", type="image/svg+xml").we__pic_type_svg
                                .we__helper
                                    h4.we__heading Ручная сборка
                                    p.we__text
                                        | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. 
                                        | Первое полустишие притягивает сюжетный реформаторский пафос.
                        // Hand end
                        
                        // Natural
                        .we__col
                            article.we__cont.we__natural
                                .we__pic
                                    object(data="svg/natural.svg", type="image/svg+xml").we__pic_type_svg
                                .we__helper   
                                    h4.we__heading Натуральные ингредиенты
                                    p.we__text
                                        | Драма представляет собой деструктивный цикл. 
                                        | Анапест представляет собой анапест.
                        // Natural end