.we__bg
    @media screen and ( max-width 1024px )
        background: url( 'image/we/laptop.png' ) no-repeat bottom / cover !important;

.we__heading_align_center
    @media screen and ( max-width 768px )
        padding: 16.5% 0;

.we__main
    @media screen and ( max-width 768px )
        padding: 5.5% 0;                