.caro__slide
    @media screen and ( max-width 480px )
        padding: 0;
        min-height: auto;

.caro__col_size_md
    @media screen and ( max-width 480px )
        width: 100%;

.caro__burger
    @media screen and ( max-width 480px )
        padding: 33% 0 2% 0;
    @media screen and ( max-width 425px )
        padding: 22% 0 4%;

.caro__pic
    @media screen and ( max-width 375px )
        width: 78%;

.caro__title
    @media screen and ( max-width 480px )
        width: 70%;
        padding-bottom: 3%;
        margin: 0 auto;
        font-size: 50px;
        line-height: 60px;
    @media screen and ( max-width 425px )
        width: 100%;
        font-size: 38px;
        line-height: 1;
    @media screen and ( max-width 325px )
        font-size: 32px;

.caro__text
    @media screen and ( max-width 480px )
        padding-bottom: 3%;
    @media screen and ( max-width 425px )
        font-size: 12px;
        line-height: 22px;
    @media screen and ( max-width 325px )
        font-size: 10px;
        line-height: 20px;    

.caro__price
    @media screen and ( max-width 480px )
        font-size: 24px;
    @media screen and ( max-width 325px )
        font-size: 20px;

.caro__price_size_lg
    @media screen and ( max-width 480px )  
        font-size: 50px;
        line-height: 1;
    @media screen and ( max-width 425px )
        font-size: 38px;
    @media screen and ( max-width 325px )
        font-size: 34px;

/* ******************** */

// Kkal

/* ******************* */

.caro__kkal.caro__kkal_pos_abs
    @media screen and ( max-width 480px )
        top: 6%;
        right: 1px;
    @media screen and ( max-width 425px )
        top: 0;


/* ******************** */

// Composition

/* ******************** */

.caro__comp
    @media screen and ( max-width 375px )
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;

.caro__comp_pos_abs
    @media screen and ( max-width 480px )
        top: 6%;
        left: 1px;
    @media screen and ( max-width 425px )
        top: 0;

.caro__comp-comp
    @media screen and ( max-width 375px )
        display: none;

.caro__comp-container
    @media screen and ( max-width 480px )
        width: 320px;
    @media screen and ( max-width 425px )
        width: 270px;
    @media screen and ( max-width 375px )
        top: -20%;
        left: 125%;
        padding: 36% 30%;
    @media screen and ( max-width 345px )
        width: 230px;

.caro__comp-item:not(:last-child)
    @media screen and ( max-width 480px )
        margin-bottom: 10%;

.caro__comp-name
    @media screen and ( max-width 480px )
        padding: 0 15%;
    @media screen and ( max-width 445px )
        padding: 0px 13%;  
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;
        

.caro__comp-num
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;

.caro__arrow_pos_abs
    @media screen and ( max-width 480px )
        top: 45.8%;

.caro__arrow-prev
    @media screen and ( max-width 480px )
        left: -2.5%;

.caro__arrow-next
    @media screen and ( max-width 480px )
        right: -2.5%;