.caro__slide
    @media screen and ( max-width 480px )
        padding-top: 20%;
    @media screen and ( max-width 345px )
        width: 95%;
        margin: 0 auto;

.caro__col_grow_md
    @media screen and ( max-width 480px )
        width: 100%;
        margin-bottom: 1%;

.caro__pic
    @media screen and ( max-width 375px )
        width: 85%

.caro__heading
    @media screen and ( max-width 480px )
        width: 80%;
        padding-bottom: 3%;
        margin: auto;
        font-size: 50px;
        line-height: 60px;
    @media screen and ( max-width 375px )
        font-size: 38px;
        line-height: 48px;  
    @media screen and ( max-width 345px )
        width: 100%;
        padding-bottom: 2.5%;
        font-size: 32px;
        line-height: 38px;

.caro__text
    @media screen and ( max-width 480px )
        padding-bottom: 3.5%;
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;
    @media screen and ( max-width 345px )
        padding-bottom: 2.5%;

.caro__price
    @media screen and ( max-width 480px )
        font-size: 24px;
    @media screen and ( max-width 375px )
        font-size: 18px;

.caro__price_size_lg
    @media screen and ( max-width 480px )
        font-size: 50px;
    @media screen and ( max-width 375px )
        font-size: 38px;

.caro__arrow
    @media screen and ( max-width 480px )
        top: 46%;
    @media screen and ( max-width 345px )
        top: 30%;

.caro__arrow_pos_left
    @media screen and ( max-width 480px )
        left: -2.5%;

.caro__arrow_pos_right
    @media screen and ( max-width 480px )
        right: -2.5%;

.caro__comp
    @media screen and ( max-width 480px )
        top: 0;
        left: 0;

.caro__comp-inner
    @media screen and ( max-width 375px )
        width: 70px;
        height: 70px;

.caro__comp-text
    @media screen and ( max-width 375px )
        display: none;

.caro__kkal_pos_abs
    @media screen and ( max-width 480px )
        right: 0;
        top: 0;

.caro__kkal-sum_pos_abs
    @media screen and ( max-width 375px )
        top: 43%;
        left: 25%;

.caro__kkal-text
    @media screen and ( max-width 375px )
        display: none;