.caro__slide
    @media screen and ( max-width 480px )
        padding-top: 20%;

.caro__col_grow_md
    @media screen and ( max-width 480px )
        width: 100%;
        margin-bottom: 1%;

.caro__heading
    @media screen and ( max-width 480px )
        width: 80%;
        padding-bottom: 3%;
        margin: auto;
        font-size: 50px;
        line-height: 60px;

.caro__text
    @media screen and ( max-width 480px )
        padding-bottom: 3.5%;

.caro__price
    @media screen and ( max-width 480px )
        font-size: 24px;

.caro__price_size_lg
    @media screen and ( max-width 480px )
        font-size: 50px;

.caro__arrow
    @media screen and ( max-width 480px )
        top: 46%;

.caro__arrow_pos_left
    @media screen and ( max-width 480px )
        left: -2.5%;

.caro__arrow_pos_right
    @media screen and ( max-width 480px )
        right: -2.5%;