.btn__clear
    display: inline-block;
    padding: 6px 18px 6px 18px;
    border: none;
    font: 14px / 24px ubuntulight, sans-serif;
    white-space: nowrap;
    color: rgba( primaryWhite,.7 );
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

.btn__clear_effect_hover:hover
    color: #fff;