.btn__clear
    display: inline-block;
    padding: 6px 18px 6px 18px;
    font: 14px / 24px ubuntulight, sans-serif;
    white-space: nowrap;
    color: primaryWhite;
    border-radius: 5px;
    color: rgba( primaryWhite,.7 );

.btn__clear_effect_hover:hover
    color: #fff;