.acco-h__row
    @media screen and ( max-width 480px )
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;

.acco-h__col
    @media screen and ( max-width 480px )
        flex-direction: column;
        width: 100%;

.acco-h__pannel
    @media screen and ( max-width 480px )
        width: 100%;
        padding: 3.5% 5%;
    @media screen and ( max-width 345px )
        padding: 2.5% 5%;

.acco-h__title
    @media screen and ( max-width 480px )
        position: static;
        font-size: 24px;
        line-height: 36px;
        transform: rotate(0) translate( 0, 0 );
    @media screen and ( max-width 375px )
        font-size: 18px;
        line-height: 28px;

.acco-h__cont
    @media screen and ( max-width 480px )
        padding: 10% 7%;
    @media screen and ( max-width 345px ) 
        padding: 3%;
    
.acco-h__text
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;    