.acco
    @media screen and ( max-width 480px )
        padding: 7% 0;
    @media screen and ( max-width 375px )
        padding: 0;

.acco__row
    @media screen and ( max-width 345px )
        margin-bottom: 3%;

.acco__name
    @media screen and ( max-width 375px )
        font-size: 18px;
        line-height: 28px;

.acco__circle
    @media screen and ( max-width 375px )
        width: 90px;
        height: 90px;

.acco__post
    @media screen and ( max-width 345px )
        margin: 3% 0;

.acco__text
    @media screen and ( max-width 375px )
        font-size: 12px;
        line-height: 22px;