section.review.section
    .review__row
        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1458890715264-db84f7c6ef13.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-1", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-1", href="#" ) Читать отзыв

        // Review popup 1
        .review__popup#review-1
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 1 end

        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1440606797942-6cc04c045447.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.    
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-2", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-2", href="#" ) Читать отзыв
        
        // Review popup 2
        .review__popup#review-2
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 2 end       

        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1445404590072-16ef9c18bd83.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-3", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-3", href="#" ) Читать отзыв
        
        // Review popup 3
        .review__popup#review-3
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 3 end

        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1468546818829-25bb337b6646.png' )" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-4", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-4", href="#" ) Читать отзыв
        
        // Review popup 4
        .review__popup#review-4
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 4 end
        
        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1438763298591-75a0d42b7265.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-5", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-5", href="#" ) Читать отзыв
        
        // Review popup 5
        .review__popup#review-5
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 5 end
        
        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1461332682233-b818af4c3a6e.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-6", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-6", href="#" ) Читать отзыв
        
        // Review popup 6
        .review__popup#review-6
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 6 end

        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1457706924510-773f3c796de3.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-7", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-7", href="#" ) Читать отзыв

        // Review popup 7
        .review__popup#review-7
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 7 end

        .review__col
            article.review__review
                .review__bg( style="background: url( 'image/review/photo-1458696765561-12142eaead131.png' ) no-repeat top / cover" )
                    .review__trigger
                        .review__hover
                            h4.review__heading Константин Спилберг
                            .review__helper
                                p.review__text
                                    | Мысли все о них и о них, о них и о них. 
                                    | Нельзя устоять, невозможно забыть... Никогда не думал, 
                                    | что булочки могут быть такими мягкими, 
                                    | котлетка такой сочной, а сыр таким расплавленным.
                            .review__btn
                                a.btn__more.btn__more_effect_hover.js-review__view( data-view="#review-8", href="#" ) Подробнее
                                a.btn__read.btn__read_effect_hover.js-review__view( data-view="#review-8", href="#" ) Читать отзыв

        // Review popup 8
        .review__popup#review-8
            .review__popup-row
                .review__popup-cont
                    .review__popup-heading Константин Спилберг
                    p.review__popup-text
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                        | Мысли все о них и о них, о них и о них. 
                        | Нельзя устоять, невозможно забыть... Никогда не думал, 
                        | что булочки могут быть такими мягкими, 
                        | котлетка такой сочной, а сыр таким расплавленным.
                    .review__popup-close
                        img.js-close-view(src="image/review/close.png", alt="popup close")
        // Review popup 8 end