.btn__order
    padding: 9px 16px 10px 16px;
    font: 13px / 30px ubuntumedium, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    color: primaryWhite;
    background-color: primaryOrange;
    border-radius: 5px;

.btn__order_effect_hover:hover
    background-color: primaryOrangeHover;