.btn__order
    display: inline-block;
    padding: 3px 16px 3px 16px;
    border: none;
    font: 13px / 30px ubuntumedium, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    color: primaryWhite;
    background-color: primaryOrange;
    border-radius: 5px;
    cursor: pointer;

.btn__order_effect_hover:hover
    background-color: primaryOrangeHover;