.hero__bg
    @media screen and ( max-width 480px )
        background-position: 53% 50%;

.hero__main
    @media screen and ( max-width 480px )
        width: 83%;
        margin: auto;
    @media screen and ( max-width 375px )
        width: 80%;    

.hero__burger
    @media screen and ( max-width 480px )
        width: 100%;
        margin-bottom: 13%;
        background-position: 50% 41%;
    @media screen and ( max-width 375px )
        width: 80%;          

.hero__pic
    @media screen and ( max-width 480px )
        top: 7px;
        left: 10%;

.hero__text
    @media screen and ( max-width 480px )
        width: 100%;
        margin-bottom: 2%; 

.hero__heading_align_left
    @media screen and ( max-width 480px )
        margin-bottom: 2%;
        font-size: 63px;
        line-height: 1;
    @media screen and ( max-width 425px )
        font-size: 48px;   
    @media screen and ( max-width 375px )
        font-size: 38px;        

.hero__subheading
    @media screen and ( max-width 480px )
        font-size: 55px;
    @media screen and ( max-width 425px )
        font-size: 42px;  
    @media screen and ( max-width 375px )
        font-size: 32px;

.hero__arrow-scroll
    @media screen and ( max-width 375px )
        padding: 24px 0;        