.hero__bg
    height: 100%;
    background: url( 'image/hero/texture.png' ) no-repeat center / cover,
                url( 'image/hero/video-bg.jpg' ) no-repeat right center / cover;

.hero__rows
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

.hero__row
    max-width: 100%;   

.hero__arrow-scroll
    padding: 36px 0;
    text-align: center;     